<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bangbang.information.dao.PlayRecordDao">

	<select id="get" resultType="com.bangbang.information.domain.PlayRecordDO">
		select `id`,`course_id`,`course_name`,`name`,`chapters_name`,`played_time`,`user_id`,`delete_flag` from play_record where id = #{value}
	</select>

	<select id="list" resultType="com.bangbang.information.domain.PlayRecordDO">
		select `id`,`course_id`,`course_name`,`name`,`chapters_name`,`played_time`,`user_id`,`delete_flag` from play_record
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="courseId != null and courseId != ''"> and course_id = #{courseId} </if>
		  		  <if test="courseName != null and courseName != ''"> and course_name = #{courseName} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="chaptersName != null and chaptersName != ''"> and chapters_name = #{chaptersName} </if>
		  		  <if test="playedTime != null and playedTime != ''"> and played_time = #{playedTime} </if>
		  		  <if test="surplusTime != null and surplusTime != ''"> and surplus_time = #{surplusTime} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="deleteFlag != null and deleteFlag != ''"> and delete_flag = #{deleteFlag} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from play_record
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="courseId != null and courseId != ''"> and course_id = #{courseId} </if>
		  		  <if test="courseName != null and courseName != ''"> and course_name = #{courseName} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="chaptersName != null and chaptersName != ''"> and chapters_name = #{chaptersName} </if>
		  		  <if test="playedTime != null and playedTime != ''"> and played_time = #{playedTime} </if>
		  		
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="deleteFlag != null and deleteFlag != ''"> and delete_flag = #{deleteFlag} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bangbang.information.domain.PlayRecordDO" useGeneratedKeys="true" keyProperty="id">
		insert into play_record
		(
			`course_id`, 
			`course_name`, 
			`name`, 
			`chapters_name`, 
			`played_time`, 
		
			`user_id`, 
			`delete_flag`
		)
		values
		(
			#{courseId}, 
			#{courseName}, 
			#{name}, 
			#{chaptersName}, 
			#{playedTime}, 
			
			#{userId}, 
			#{deleteFlag}
		)
	</insert>
	 
	<update id="update" parameterType="com.bangbang.information.domain.PlayRecordDO">
		update play_record 
		<set>
			<if test="courseId != null">`course_id` = #{courseId}, </if>
			<if test="courseName != null">`course_name` = #{courseName}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="chaptersName != null">`chapters_name` = #{chaptersName}, </if>
			<if test="playedTime != null">`played_time` = #{playedTime}, </if>
		
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="deleteFlag != null">`delete_flag` = #{deleteFlag}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from play_record where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from play_record where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>