<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bangbang.information.dao.QuestioneAnswersDao">

	<select id="get" resultType="com.bangbang.information.domain.QuestioneAnswersDO">
		select `id`,user_id,`user_name`,`teacher_name`,`questions_content`,`questions_money`,`reply_content`,`course_name`,`add_time`,reply_time from t_questione_answers where id = #{value}
	</select>

	<select id="list" resultType="com.bangbang.information.domain.QuestioneAnswersDO">
		select `id`,user_id,`user_name`,`teacher_name`,`questions_content`,`questions_money`,`reply_content`,`course_name`,`add_time`,reply_time from t_questione_answers
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="userName != null and userName != ''"> and user_name = #{userName} </if>
		  		  <if test="teacherName != null and teacherName != ''"> and teacher_name = #{teacherName} </if>
		  		  <if test="questionsContent != null and questionsContent != ''"> and questions_content = #{questionsContent} </if>
		  		  <if test="questionsMoney != null and questionsMoney != ''"> and questions_money = #{questionsMoney} </if>
		  		  <if test="replyContent != null and replyContent != ''"> and reply_content = #{replyContent} </if>
		  		  <if test="courseName != null and courseName != ''"> and course_name = #{courseName} </if>
		  		  <if test="addTime != null and addTime != ''"> and add_time = #{addTime} </if>
		  		  <if test="replyTime != null and replyTime != ''"> and reply_time = #{replyTime} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_questione_answers
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="userName != null and userName != ''"> and user_name = #{userName} </if>
		  		  <if test="teacherName != null and teacherName != ''"> and teacher_name = #{teacherName} </if>
		  		  <if test="questionsContent != null and questionsContent != ''"> and questions_content = #{questionsContent} </if>
		  		  <if test="questionsMoney != null and questionsMoney != ''"> and questions_money = #{questionsMoney} </if>
		  		  <if test="replyContent != null and replyContent != ''"> and reply_content = #{replyContent} </if>
		  		  <if test="courseName != null and courseName != ''"> and course_name = #{courseName} </if>
		  		  <if test="addTime != null and addTime != ''"> and add_time = #{addTime} </if>
		  		  <if test="replyTime != null and replyTime != ''"> and reply_time = #{replyTime} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bangbang.information.domain.QuestioneAnswersDO" useGeneratedKeys="true" keyProperty="id">
		insert into t_questione_answers
		(
			`user_id`,
			`user_name`, 
			`teacher_name`, 
			`questions_content`, 
			`questions_money`, 
			`reply_content`, 
			`course_name`, 
			`add_time`,
			`reply_time`
		)
		values
		(
			#{userId},
			#{userName}, 
			#{teacherName}, 
			#{questionsContent}, 
			#{questionsMoney}, 
			#{replyContent}, 
			#{courseName}, 
			#{addTime},
			#{replyTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.bangbang.information.domain.QuestioneAnswersDO">
		update t_questione_answers 
		<set>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="userName != null">`user_name` = #{userName}, </if>
			<if test="teacherName != null">`teacher_name` = #{teacherName}, </if>
			<if test="questionsContent != null">`questions_content` = #{questionsContent}, </if>
			<if test="questionsMoney != null">`questions_money` = #{questionsMoney}, </if>
			<if test="replyContent != null">`reply_content` = #{replyContent}, </if>
			<if test="courseName != null">`course_name` = #{courseName}, </if>
			<if test="addTime != null">`add_time` = #{addTime},</if>
			<if test="replyTime != null">`reply_time` = #{replyTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_questione_answers where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_questione_answers where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>