<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bangbang.information.dao.ReedeemDao">

	<select id="get" resultType="com.bangbang.information.domain.ReedeemDO">
		select `id`,validity,reedeem_name,course_id,reedeem_balance,`reedeem_code`,reedeem_type,if_stop,`create_time`,`create_id`,create_name,`delete_flag` from t_reedeem where id = #{value}
	</select>

	<select id="list" resultType="com.bangbang.information.domain.ReedeemDO">
		select t.id,t.validity,count(1) reedeem_count ,count(if(t.if_used>0 , t.if_used, null)) reedeemSurplus,   t.coupon_id,t.reedeem_code,t.reedeem_name,t.course_id,t.reedeem_balance,t.create_time,t.reedeem_type,t.create_id,t.create_name,t.delete_flag,t.if_stop,c.name courseName from t_reedeem t left join course c
        on t.course_id=c.course_id
        <where>  
		  		
		  		  <if test="reedeemCode != null and reedeemCode != ''"> and t.reedeem_code = #{reedeemCode} </if>
		  		   <if test="createTime != null and createTime != ''"> and date_format(t.create_time,'%Y-%m') = #{createTime} </if>
		  			<if test="reedeemType != null and reedeemType != ''"> and t.reedeem_type = #{reedeemType} </if>
					<if test="ifUsed != null and ifUsed != ''"> and t.if_used = #{ifUsed} </if>
		  		</where>
		  		group by t.reedeem_code
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by t.create_time ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
			
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(distinct reedeem_code) from t_reedeem 
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="reedeemCode != null and reedeemCode != ''"> and reedeem_code = #{reedeemCode} </if>
		  		    <if test="createTime != null and createTime != ''"> and date_format(create_time,'%Y-%m') = #{createTime} </if>
		  		  <if test="reedeemType != null and reedeemType != ''"> and reedeem_type = #{reedeemType} </if>
		  		  <if test="ifStop != null and ifStop != ''"> and if_stop = #{ifStop} </if>
		  		  <if test="deleteFlag != null and deleteFlag != ''"> and delete_flag = #{deleteFlag} </if>
		  		 <if test="ifUsed != null and ifUsed != ''"> and if_used = #{ifUsed} </if>
		  		</where>
		  		
	</select>
	<insert id="save" parameterType="com.bangbang.information.domain.ReedeemDO" useGeneratedKeys="true" keyProperty="id">
		insert into t_reedeem
		(
			`reedeem_code`, 
			`create_time`, 
			`create_id`, 
			create_name,
			`delete_flag`, 
		 
			if_stop,
			reedeem_type,
			`reedeem_name`,
			`course_id`,
		
		
			`reedeem_balance`,
			validity
		)
		values
		(
			#{reedeemCode}, 
			#{createTime}, 
			#{createId}, 
			#{createName},
			#{deleteFlag}, 
			
			#{ifStop},
			#{reedeemType},
			#{reedeemName},
			#{courseId},
		
		
			#{reedeemBalance},
			#{validity}
		)
	</insert>
	 
	<update id="update" parameterType="com.bangbang.information.domain.ReedeemDO">
		update t_reedeem 
		<set>
			<if test="reedeemCode != null">`reedeem_code` = #{reedeemCode}, </if>
			<if test="ifStop != null">`if_stop` = #{ifStop}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="createId != null">`create_id` = #{createId}, </if>
			<if test="createName != null">`create_name` = #{createName}, </if>
			<if test="deleteFlag != null">`delete_flag` = #{deleteFlag}, </if>
			<if test="reedeemType != null">reedeem_type = #{reedeemType} ,</if>
			<if test="validity != null">validity = #{validity} ,</if>
			
			<if test="reedeemName != null">`reedeem_name` = #{reedeemName}, </if>
			<if test="courseId != null">`course_id` = #{courseId}, </if>
		
		
			<if test="reedeemBalance != null">`reedeem_balance` = #{reedeemBalance}</if>
		
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_reedeem where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_reedeem where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<select id="updateByReemId" >
		update t_reedeem set reedeem_surplus=reedeem_surplus-#{length} where id=#{id}
	</select>
	
	<insert id="savelist" parameterType="java.util.List">
		insert into t_reedeem (`reedeem_code`, 
			`create_time`, 
			`create_id`, 
			create_name,
			`delete_flag`, 
		 
			if_stop,
			reedeem_type,
			`reedeem_name`,
			`course_id`,
			`reedeem_balance`,
			validity,coupon_id) values
         <foreach collection="list" item="item" index="index" separator=",">
            (#{item.reedeemCode}, 
			#{item.createTime}, 
			#{item.createId}, 
			#{item.createName},
			#{item.deleteFlag}, 
			
			#{item.ifStop},
			#{item.reedeemType},
			#{item.reedeemName},
			#{item.courseId},
			#{item.reedeemBalance},
			#{item.validity},#{item.couponId})
         </foreach>
	</insert>
	
	<select id="getCoupon" resultType="com.bangbang.information.domain.CouponDO">
		select t.coupon_id,t.coupon_surplus,t.usage_scenario,s.name kechengName,t.course_id from t_coupon t left join course s on t.course_id=s.course_id
	</select>
	
	<select id="duihuanyonghulist" resultType="com.bangbang.information.domain.ReedeemDO" >
	
			select t.reedeem_code,u.name,u.username,u.phone,   t.if_used from (select * from t_reedeem where reedeem_code=#{reedeemCode}) t  left join t_user u on t.user_id=u.id
	</select>
	
	<select id="userreedeemlist" resultType="com.bangbang.information.domain.ReedeemDO">
		
		select t.* ,c.name courseName from(select t.course_id, t.id,t.coupon_id,t.reedeem_balance, u.name,u.username,u.phone,t.if_used,t.reedeem_code,t.reedeem_type from  t_reedeem t ,t_user u where t.user_id=u.id  and u.id=#{userId})t left join course c on t.course_id=c.course_id
		
	</select>
</mapper>