<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bangbang.information.dao.ReedeemDao">

	<select id="get" resultType="com.bangbang.information.domain.ReedeemDO">
		select `id`,validity,reedeem_name,course_id,reedeem_count,reedeem_surplus,reedeem_balance,`reedeem_code`,reedeem_type,if_stop,`create_time`,`create_id`,create_name,`delete_flag` from t_reedeem where id = #{value}
	</select>

	<select id="list" resultType="com.bangbang.information.domain.ReedeemDO">
		select t.id,t.validity,t.coupon_id,t.reedeem_code,t.reedeem_name,t.course_id,t.reedeem_count,t.reedeem_surplus,t.reedeem_balance,t.create_time,t.reedeem_type,t.create_id,t.create_name,t.delete_flag,t.if_stop,c.name courseName from t_reedeem t left join course c
        on t.course_id=c.course_id
        <where>  
		  		  <if test="id != null and id != ''"> and t.id = #{id} </if>
		  		  <if test="reedeemCode != null and reedeemCode != ''"> and t.reedeem_code = #{reedeemCode} </if>
		  		   <if test="createTime != null and createTime != ''"> and date_format(t.create_time,'%Y-%m') = #{createTime} </if>
		  			<if test="reedeemType != null and reedeemType != ''"> and t.reedeem_type = #{reedeemType} </if>
		  		  <if test="deleteFlag != null and deleteFlag != ''"> and t.delete_flag = #{deleteFlag} </if>
		  		    <if test="ifStop != null and ifStop != ''"> and t.if_stop = #{ifStop} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
	<!-- 导出列表 -->
	<select id="exeList" resultType="java.util.Map">
		select 
		IFNULL(id,'')  as id,
		IFNULL(reedeem_code,'') as 兑换码,
		IFNULL(create_time,'') as 创建时间,
		IFNULL(create_name,'') as 创建者,
		IFNULL(create_id,'') as 创建者id,
		IFNULL(if_stop,'') as 启用状态(0启用 1停用),
		IFNULL(delete_flag,'') as 删除状态(0未删除 1已删除),
		IFNULL(reedeem_type,'') as 兑换类型(0兑换课程 1兑换余额 2兑换优惠券),
		IFNULL(reedeem_name,'') as 兑换码名称,
		IFNULL(course_id,'') as 课程编号,
		IFNULL(reedeem_balance,'') as 兑换码面值,
		IFNULL(validity,'') as 兑换码有效期,
		IFNULL(coupon_id,'') as 优惠券编号,
		IFNULL(if_used,'') as 是否兑换(0已兑换 1未兑换),
		IFNULL(user_id,'') as 用户id
		<where>
			<if test="ids != null and ids != ''"> and id in (${ids}) </if>
		</where> 
	</select>
	
	
 	<select id="count" resultType="int">
		select count(*) from t_reedeem
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="reedeemCode != null and reedeemCode != ''"> and reedeem_code = #{reedeemCode} </if>
		  		    <if test="createTime != null and createTime != ''"> and date_format(create_time,'%Y-%m') = #{createTime} </if>
		  		  <if test="reedeemType != null and reedeemType != ''"> and reedeem_type = #{reedeemType} </if>
		  		  <if test="ifStop != null and ifStop != ''"> and if_stop = #{ifStop} </if>
		  		  <if test="deleteFlag != null and deleteFlag != ''"> and delete_flag = #{deleteFlag} </if>
		  		 
		  		</where>
	</select>
	<insert id="save" parameterType="com.bangbang.information.domain.ReedeemDO" useGeneratedKeys="true" keyProperty="id">
		insert into t_reedeem
		(
			`reedeem_code`, 
			`create_time`, 
			`create_id`, 
			create_name,
			`delete_flag`, 
		 
			if_stop,
			reedeem_type,
			`reedeem_name`,
			`course_id`,
			`reedeem_count`,
			`reedeem_surplus`,
			`reedeem_balance`,
			validity
		)
		values
		(
			#{reedeemCode}, 
			#{createTime}, 
			#{createId}, 
			#{createName},
			#{deleteFlag}, 
			
			#{ifStop},
			#{reedeemType},
			#{reedeemName},
			#{courseId},
			#{reedeemCount},
			#{reedeemSurplus},
			#{reedeemBalance},
			#{validity}
		)
	</insert>
	 
	<update id="update" parameterType="com.bangbang.information.domain.ReedeemDO">
		update t_reedeem 
		<set>
			<if test="reedeemCode != null">`reedeem_code` = #{reedeemCode}, </if>
			<if test="ifStop != null">`if_stop` = #{ifStop}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="createId != null">`create_id` = #{createId}, </if>
			<if test="createName != null">`create_name` = #{createName}, </if>
			<if test="deleteFlag != null">`delete_flag` = #{deleteFlag}, </if>
			<if test="reedeemType != null">reedeem_type = #{reedeemType} ,</if>
			<if test="validity != null">validity = #{validity} ,</if>
			
			<if test="reedeemName != null">`reedeem_name` = #{reedeemName}, </if>
			<if test="courseId != null">`course_id` = #{courseId}, </if>
			<if test="reedeemCount != null">`reedeem_count` = #{reedeemCount}, </if>
			<if test="reedeemSurplus != null">`reedeem_surplus` = #{reedeemSurplus}, </if>
			<if test="reedeemBalance != null">`reedeem_balance` = #{reedeemBalance}</if>
		
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_reedeem where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_reedeem where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<select id="updateByReemId" >
		update t_reedeem set reedeem_surplus=reedeem_surplus-#{length} where id=#{id}
	</select>
	
	<insert id="savelist" parameterType="java.util.List">
		insert into t_reedeem (`reedeem_code`, 
			`create_time`, 
			`create_id`, 
			create_name,
			`delete_flag`, 
		 
			if_stop,
			reedeem_type,
			`reedeem_name`,
			`course_id`,
			`reedeem_count`,
			`reedeem_surplus`,
			`reedeem_balance`,
			validity,coupon_id) values
         <foreach collection="list" item="item" index="index" separator=",">
            (#{item.reedeemCode}, 
			#{item.createTime}, 
			#{item.createId}, 
			#{item.createName},
			#{item.deleteFlag}, 
			
			#{item.ifStop},
			#{item.reedeemType},
			#{item.reedeemName},
			#{item.courseId},
			#{item.reedeemCount},
			#{item.reedeemSurplus},
			#{item.reedeemBalance},
			#{item.validity},#{item.couponId})
         </foreach>
	</insert>
	
	<select id="getCoupon" resultType="com.bangbang.information.domain.CouponDO">
		select t.coupon_id,t.coupon_surplus,t.usage_scenario,s.name kechengName,t.course_id from t_coupon t left join course s on t.course_id=s.course_id
	</select>
</mapper>