<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bangbang.information.dao.SendoutReedeemDao">

	<select id="get" resultType="com.bangbang.information.domain.SendoutReedeemDO">
		select `id`,`reedeem_code`,`sendout_time`,`user_id`,`delete_flag`,`if_used` from sendout_reedeem where id = #{value}
	</select>

	<select id="list" resultType="com.bangbang.information.domain.SendoutReedeemDO">
		select s.id,s.reedeem_code,s.sendout_time,s.user_id,s.delete_flag,s.if_used,r.reedeem_type from sendout_reedeem s,t_reedeem r
        <where>  
		  		  <if test="id != null and id != ''"> and s.id = #{id} </if>
		  		  <if test="reedeemCode != null and reedeemCode != ''"> and s.reedeem_code = #{reedeemCode} </if>
		  		  <if test="sendoutTime != null and sendoutTime != ''"> and s.date_format(sendout_time,'%Y-%m') = #{sendoutTime} </if>

		  		  <if test="userId != null and userId != ''"> and s.user_id = #{userId} </if>
		  		  <if test="deleteFlag != null and deleteFlag != ''"> and s.delete_flag = #{deleteFlag} </if>
		  		  <if test="ifUsed != null and ifUsed != ''"> and s.if_used = #{ifUsed} </if>
		  		</where>
		  		and s.reedeem_code=r.reedeem_code
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from sendout_reedeem
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="reedeemCode != null and reedeemCode != ''"> and reedeem_code = #{reedeemCode} </if>
		  		  <if test="sendoutTime != null and sendoutTime != ''"> and date_format(sendout_time,'%Y-%m') = #{sendoutTime} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="deleteFlag != null and deleteFlag != ''"> and delete_flag = #{deleteFlag} </if>
		  		  <if test="ifUsed != null and ifUsed != ''"> and if_used = #{ifUsed} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bangbang.information.domain.SendoutReedeemDO" useGeneratedKeys="true" keyProperty="id">
		insert into sendout_reedeem
		(
			`reedeem_code`, 
			`sendout_time`, 
			`user_id`, 
			`delete_flag`, 
			`if_used`
		)
		values
		(
			#{reedeemCode}, 
			#{sendoutTime}, 
			#{userId}, 
			#{deleteFlag}, 
			#{ifUsed}
		)
	</insert>
	 
	<update id="update" parameterType="com.bangbang.information.domain.SendoutReedeemDO">
		update sendout_reedeem 
		<set>
			<if test="reedeemCode != null">`reedeem_code` = #{reedeemCode}, </if>
			<if test="sendoutTime != null">`sendout_time` = #{sendoutTime}, </if>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="deleteFlag != null">`delete_flag` = #{deleteFlag}, </if>
			<if test="ifUsed != null">`if_used` = #{ifUsed}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from sendout_reedeem where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from sendout_reedeem where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>