<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bangbang.information.dao.SubcriberLogDao">

	<select id="get" resultType="com.bangbang.information.domain.SubcriberLogDO">
		select `id`,`course_id`,`course_name`,`name`,`update_time`,`user_id`,`status`,`flag`,`delete_flag` from subcriber_log where id = #{value}
	</select>

	<select id="list" resultType="com.bangbang.information.domain.SubcriberLogDO">
		select `id`,`course_id`,`course_name`,`name`,`update_time`,`user_id`,`status`,`flag`,`delete_flag` from subcriber_log
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="courseId != null and courseId != ''"> and course_id = #{courseId} </if>
		  		  <if test="courseName != null and courseName != ''"> and course_name = #{courseName} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="flag != null and flag != ''"> and flag = #{flag} </if>
		  		  <if test="deleteFlag != null and deleteFlag != ''"> and delete_flag = #{deleteFlag} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from subcriber_log
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="courseId != null and courseId != ''"> and course_id = #{courseId} </if>
		  		  <if test="courseName != null and courseName != ''"> and course_name = #{courseName} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="flag != null and flag != ''"> and flag = #{flag} </if>
		  		  <if test="deleteFlag != null and deleteFlag != ''"> and delete_flag = #{deleteFlag} </if>
		  		</where>
	</select>
	
	<select id="getSubcriberlogByCourseId" resultType="com.bangbang.information.domain.SubscriberDO">
		 
		select id,name from t_user 
		<if test="_parameter != null and _parameter != ''">
			where id in ( select distinct user_id from subcriber_log where flag=0 
			 	and course_id=#{courseId}  
			)
		</if>
	</select>
	 
	<insert id="save" parameterType="com.bangbang.information.domain.SubcriberLogDO" useGeneratedKeys="true" keyProperty="id">
		insert into subcriber_log
		(
			`course_id`, 
			`course_name`, 
			`name`, 
			`update_time`, 
			`user_id`, 
			`status`, 
			`flag`, 
			`delete_flag`
		)
		values
		(
			#{courseId}, 
			#{courseName}, 
			#{name}, 
			#{updateTime}, 
			#{userId}, 
			#{status}, 
			#{flag}, 
			#{deleteFlag}
		)
	</insert>
	 
	<update id="update" parameterType="com.bangbang.information.domain.SubcriberLogDO">
		update subcriber_log 
		<set>
			<if test="courseId != null">`course_id` = #{courseId}, </if>
			<if test="courseName != null">`course_name` = #{courseName}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="flag != null">`flag` = #{flag}, </if>
			<if test="deleteFlag != null">`delete_flag` = #{deleteFlag}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from subcriber_log where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from subcriber_log where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	<select id="queryUserName" resultType="com.bangbang.information.domain.SubscriberDO">
		SELECT tu.id ,tu.`name`FROM `subcriber_log` sl,t_user tu 
		where sl.user_id = tu.id and sl.`name`= #{name} and sl.flag = 0
	</select>
</mapper>