<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bangbang.information.dao.SubscriberDao">

	<select id="get" resultType="com.bangbang.information.domain.SubscriberDO">
		select `id`,`heard_url`,registration_source,phone_system,`username`,`sign_name`,`sex`,`birthday`,`login_time`,`used_time`,`balance`,`nickname`,`user_id`,`open_id`,`password`,`phone`,`name`,`register_time`,`update_time`,`delete_flag` from t_user where id = #{value}
	</select>

	<select id="list" resultType="com.bangbang.information.domain.SubscriberDO">
		select `id`,`heard_url`,phone_system,`username`,registration_source,`sign_name`,`sex`,`birthday`,`login_time`,`used_time`,`balance`,`nickname`,`user_id`,`open_id`,`password`,`phone`,`name`,`register_time`,`update_time`,`delete_flag` from t_user
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="signName != null and signName != ''"> and sign_name = #{signName} </if>
		  		  <if test="sex != null and sex != ''"> and sex = #{sex} </if>
		  		  <if test="birthday != null and birthday != ''"> and birthday = #{birthday} </if>
		  		  <if test="loginTime != null and loginTime != ''"> and login_time = #{loginTime} </if>
		  		  <if test="usedTime != null and usedTime != ''"> and used_time = #{usedTime} </if>
		  		  <if test="balance != null and balance != ''"> and balance = #{balance} </if>
		  		  <if test="nickname != null and nickname != ''"> and nickname = #{nickname} </if>
		  		  <if test="nameORphone != null and nameORphone != ''"> and phone = #{nameORphone} or username = #{nameORphone}</if>
		  		   <if test="registerTime != null and registerTime != ''"> and register_time = #{registerTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
	<!-- 导出列表 -->
	<select id="exeList" resultType="java.util.Map">
		select 
		IFNULL(id,'')  as id,
		IFNULL(heard_url,'') as 头像,
		IFNULL(phone_system,'') as 手机系统,
		IFNULL(username,'') as 用户名,
		IFNULL(sign_name,'') as 签名,
		IFNULL(sex,'') as 性别,
		IFNULL(birthday,'') as 出生年月,
		IFNULL(login_time,'') as 最后登录时间,
		IFNULL(used_time,'') as 使用时间,
		IFNULL(balance,'') as 时光贝,
		IFNULL(nickname,'') as 昵称,
		IFNULL(phone,'') as 手机号,
		IFNULL(name,'') as 真实姓名,
		IFNULL(register_time,'') as 注册时间,
		IFNULL(update_time,'') as 编辑时间,
		IFNULL(registration_source,'') as 注册来源 from t_user
		<where>
			<if test="ids != null and ids != ''"> and id in (${ids}) </if>
		</where> 
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_user
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="heardUrl != null and heardUrl != ''"> and heard_url = #{heardUrl} </if>
		  		
		  		  <if test="signName != null and signName != ''"> and sign_name = #{signName} </if>
		  		  <if test="sex != null and sex != ''"> and sex = #{sex} </if>
		  		  <if test="birthday != null and birthday != ''"> and birthday = #{birthday} </if>
		  		  <if test="loginTime != null and loginTime != ''"> and login_time = #{loginTime} </if>
		  		  <if test="usedTime != null and usedTime != ''"> and used_time = #{usedTime} </if>
		  		  <if test="balance != null and balance != ''"> and balance = #{balance} </if>
		  		  <if test="nickname != null and nickname != ''"> and nickname = #{nickname} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		 
		  		 
		  		
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="registerTime != null and registerTime != ''"> and register_time = #{registerTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="deleteFlag != null and deleteFlag != ''"> and delete_flag = #{deleteFlag} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bangbang.information.domain.SubscriberDO" useGeneratedKeys="true" keyProperty="id">
		insert into t_user
		(
			`heard_url`, 
			`username`, 
			`sign_name`, 
			`sex`, 
			`birthday`, 
			`login_time`, 
			`used_time`, 
			`balance`, 
			`nickname`, 
			`user_id`, 
			`open_id`, 
			`password`, 
			`phone`, 
			`name`, 
			`register_time`, 
			`update_time`, 
			`delete_flag`,
			phone_system,
			registration_source
		)
		values
		(
			#{heardUrl}, 
			#{username}, 
			#{signName}, 
			#{sex}, 
			#{birthday}, 
			#{loginTime}, 
			#{usedTime}, 
			#{balance}, 
			#{nickname}, 
			#{userId}, 
			#{openId}, 
			#{password}, 
			#{phone}, 
			#{name}, 
			#{registerTime}, 
			#{updateTime}, 
			#{deleteFlag},
			#{phoneSystem},
			#{registrationSource}
		)
	</insert>
	 
	<update id="update" parameterType="com.bangbang.information.domain.SubscriberDO">
		update t_user 
		<set>
			<if test="heardUrl != null">`heard_url` = #{heardUrl}, </if>
			
			<if test="signName != null">`sign_name` = #{signName}, </if>
			<if test="sex != null">`sex` = #{sex}, </if>
			<if test="birthday != null">`birthday` = #{birthday}, </if>
			<if test="loginTime != null">`login_time` = #{loginTime}, </if>
			<if test="usedTime != null">`used_time` = #{usedTime}, </if>
			<if test="balance != null">`balance` = #{balance}, </if>
			<if test="nickname != null">`nickname` = #{nickname}, </if>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="openId != null">`open_id` = #{openId}, </if>
			
			
			<if test="name != null">`name` = #{name}, </if>
			<if test="registerTime != null">`register_time` = #{registerTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_user where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_user where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>