<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bangbang.course.dao.CourseChapterDao">

	<select id="get" resultType="com.bangbang.course.domain.CourseChapterDO">
		select `id`,`parent_id`,`course_id`,`course_name`,`name`,`chapter_num`,`chapter_name`,`chapter_notes`,`type`,`url`,`chapter_status`,`add_time`,`start_time`,`end_time` from course_chapter where id = #{value}
	</select>

	<select id="list" resultType="com.bangbang.course.domain.CourseChapterDO">
		select `id`,`parent_id`,`course_id`,`course_name`,`name`,`chapter_num`,`chapter_name`,`chapter_notes`,`type`,`url`,`chapter_status`,`add_time`,`start_time`,`end_time` from course_chapter
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
		  		  <if test="courseId != null and courseId != ''"> and course_id = #{courseId} </if>
		  		  <if test="courseName != null and courseName != ''"> and course_name = #{courseName} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="chapterNum != null and chapterNum != ''"> and chapter_num = #{chapterNum} </if>
		  		  <if test="chapterName != null and chapterName != ''"> and chapter_name = #{chapterName} </if>
		  		  <if test="chapterNotes != null and chapterNotes != ''"> and chapter_notes = #{chapterNotes} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="url != null and url != ''"> and url = #{url} </if>
		  		  <if test="chapterStatus != null and chapterStatus != ''"> and chapter_status = #{chapterStatus} </if>
		  		  <if test="addTime != null and addTime != ''"> and add_time = #{addTime} </if>
		  		  <if test="startTime != null and startTime != ''"> and start_time = #{startTime} </if>
		  		  <if test="endTime != null and endTime != ''"> and end_time = #{endTime} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from course_chapter
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
		  		  <if test="courseId != null and courseId != ''"> and course_id = #{courseId} </if>
		  		  <if test="courseName != null and courseName != ''"> and course_name = #{courseName} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="chapterNum != null and chapterNum != ''"> and chapter_num = #{chapterNum} </if>
		  		  <if test="chapterName != null and chapterName != ''"> and chapter_name = #{chapterName} </if>
		  		  <if test="chapterNotes != null and chapterNotes != ''"> and chapter_notes = #{chapterNotes} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="url != null and url != ''"> and url = #{url} </if>
		  		  <if test="chapterStatus != null and chapterStatus != ''"> and chapter_status = #{chapterStatus} </if>
		  		  <if test="addTime != null and addTime != ''"> and add_time = #{addTime} </if>
		  		  <if test="startTime != null and startTime != ''"> and start_time = #{startTime} </if>
		  		  <if test="endTime != null and endTime != ''"> and end_time = #{endTime} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bangbang.course.domain.CourseChapterDO">
		insert into course_chapter
		(
			`id`, 
			`parent_id`, 
			`course_id`, 
			`course_name`, 
			`name`, 
			`chapter_num`, 
			`chapter_name`, 
			`chapter_notes`, 
			`type`, 
			`url`, 
			`chapter_status`, 
			`add_time`, 
			`start_time`, 
			`end_time`
		)
		values
		(
			#{id}, 
			#{parentId}, 
			#{courseId}, 
			#{courseName}, 
			#{name}, 
			#{chapterNum}, 
			#{chapterName}, 
			#{chapterNotes}, 
			#{type}, 
			#{url}, 
			#{chapterStatus}, 
			#{addTime}, 
			#{startTime}, 
			#{endTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.bangbang.course.domain.CourseChapterDO">
		update course_chapter 
		<set>
			<if test="parentId != null">`parent_id` = #{parentId}, </if>
			<if test="courseId != null">`course_id` = #{courseId}, </if>
			<if test="courseName != null">`course_name` = #{courseName}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="chapterNum != null">`chapter_num` = #{chapterNum}, </if>
			<if test="chapterName != null">`chapter_name` = #{chapterName}, </if>
			<if test="chapterNotes != null">`chapter_notes` = #{chapterNotes}, </if>
			<if test="type != null">`type` = #{type}, </if>
			<if test="url != null">`url` = #{url}, </if>
			<if test="chapterStatus != null">`chapter_status` = #{chapterStatus}, </if>
			<if test="addTime != null">`add_time` = #{addTime}, </if>
			<if test="startTime != null">`start_time` = #{startTime}, </if>
			<if test="endTime != null">`end_time` = #{endTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from course_chapter where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from course_chapter where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	<select id="queryCId" resultType="com.bangbang.course.domain.CourseChapterDO">
		select `id`,`parent_id`,`course_id`,`course_name`,`name`,`chapter_num`,`chapter_name`,`chapter_notes`,`type`,`url`,`chapter_status`,`add_time`,`start_time`,`end_time` from course_chapter 
		where course_id = #{courseId} 
		order by chapter_num asc
	</select>
	<select id="queryCourse" resultType="int">
		select count(*) from course_chapter where course_id = #{course_id}
	</select>
</mapper>