<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bangbang.information.dao.CouponDao">

	<select id="listCoupon" resultType="com.bangbang.information.domain.CouponDO">
		select s.id, s.coupon_id,t.coupon_balance,t.count_name couponName,t.usecondition, s.user_id,s.validity,s.if_user,s.sendout_time,s.coupon_group from t_coupon t, sendout_coupon s
		where t.coupon_id=s.coupon_id and s.user_id=${value}
	</select>
	
	<select id="getReedeem" resultType="com.bangbang.information.domain.ReedeemDO">
		select id,reedeem_code,if_used,reedeem_type,coupon_id from t_reedeem where 
		reedeem_code=#{reedeemCode} and user_id=#{id}
	</select>
	
	<update id="updateReedeemIfUsed">
		update t_reedeem set if_used=0 where reedeem_code=#{reedeemCode} and user_id=#{id}
	
	</update>
	
	<select id="getCouponByCouponId" resultType="com.bangbang.information.domain.CouponDO">
		select * from t_coupon where coupon_id=#{value}
	</select>
	
	<insert id="saveSendoutCoupon" parameterType="com.bangbang.information.domain.CouponDO" useGeneratedKeys="true" keyProperty="id">
		insert into sendout_coupon
		(
		coupon_id,
  		`user_id`,
  		`validity` ,
  		`if_user`,
  		`sendout_time`,
  		coupon_group)
  		values(#{couponId},#{userId},#{validity},#{ifUser},#{sendoutTime},#{couponGroup})
  
	</insert>
</mapper>