<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bangbang.information.dao.CourseDao">
	<select id="getAllCourseSort" resultType="com.bangbang.information.domain.CourseSortDO">
		select id,sort_name from course_sort where status=0 ;
		
	</select>
	
	<select id="getAllCourseBySortId" resultType="com.bangbang.information.domain.CourseDO">
	   select `id`,`course_id`,`name`,`course_notes`,`money_type`,`money`,`questions`,`course_cover`,`teacher`,`chapter_num`
	   from course where sort_id=#{id}
	</select>
	
	<select id="getAllCourseByFlag" resultType="com.bangbang.information.domain.SubcriberLogDO">
	   select `id`,`course_id`,`course_name`,`name`,`user_id`,`flag`,course_cover,chapter_num ,chapter_name,chapter_id from subcriber_log 
	     <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="courseId != null and courseId != ''"> and course_id = #{courseId} </if>
		  		  <if test="courseName != null and courseName != ''"> and course_name = #{courseName} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="flag != null and flag != ''"> and flag = #{flag} </if>
		  		  <if test="deleteFlag != null and deleteFlag != ''"> and delete_flag = #{deleteFlag} </if>
		  		</where>
	</select>
	
	<select id="getPlayRecord" resultType="com.bangbang.information.domain.PlayRecordDO">
					 SELECT
					pr.user_id,
					pr.character_id,
					pr.played_time,
					cc.url,
					cc.course_id ,
					cc.course_name,
					cc.name,
					cc.chapter_name,
					co.course_cover ,
					co.chapter_num 
				FROM
					play_record pr,
					course_chapter cc,
					course co
				WHERE
					pr.character_id = cc.id
				AND pr.course_id = co.course_id
		  
		  	<if test="courseId != null and courseId != ''"> and pr.course_id = #{courseId} </if>
		  	<if test="userId != null and userId != ''"> and pr.user_id = #{userId} </if>
		
	
	</select>
	
	<select id="getCourseCharacterByCourseId" resultType="com.bangbang.information.domain.CourseChapterDO">
		select id,course_id,chapter_num,chapter_name,chapter_notes,url,duration from course_chapter where course_id=#{courseId}
	</select>
	
	
	<select id="getPlayRecordByUserIdAndCourseId" resultType="com.bangbang.information.domain.PlayRecordDO">
		select pr.character_id,cc.chapter_name,pr.played_time from play_record pr,course_chapter cc
		where pr.character_id=cc.id and  pr.course_id=#{courseId} and pr.user_id=#{userId}
	</select>
	
	<insert id="saveSubcriberLog" parameterType="com.bangbang.information.domain.SubcriberLogDO" useGeneratedKeys="true" keyProperty="id">
		insert into subcriber_log
		(
			`course_id`, 
			`course_name`, 
			`name`, 
			 update_time,
			`user_id`, 
			
			`flag`, 
			`course_cover`,
  			`chapter_num`,
  			chapter_name,
  			chapter_id
		)
		values
		(
			#{courseId}, 
			
			#{courseName}, 
			#{name}, 
		    #{updateTime},
			#{userId}, 
		
			#{flag}, 
			#{courseCover},
  			#{chapterNum} ,
  			#{chapterName},
  			#{chapterId}
		)
	</insert>
	
	<select id="getCourseByCourseId" resultType="com.bangbang.information.domain.CourseDO" >
		  select `id`,`course_id`,`name`,`course_notes`,`money_type`,`money`,`questions`,`course_cover`,`teacher`,`chapter_num`,course_name
	   from course where course_id=#{value}
	 </select>
	
	<insert id="savePlayRecord" parameterType="com.bangbang.information.domain.PlayRecordDO" useGeneratedKeys="true" keyProperty="id">
		insert into play_record
		(
			`course_id`,
  			`played_time`,
  			`user_id`,
  			`delete_flag`,
  			`character_id`,
  			 create_time
		)
		values
		(
			#{courseId},
			#{playedTime},
			#{userId},
			#{deleteFlag},
			#{characterId},
			#{createTime}
		)
	</insert>
	
	<select id="getLastPlayRecord" resultType="com.bangbang.information.domain.PlayRecordDO">
		select * from play_record where create_time=(	select max(create_time) from play_record where user_id=#{userId})
		and user_id=#{userId}
	</select>
	
	<select id="getCourseDim" resultType="com.bangbang.information.domain.CourseDO">
		  select `id`,`course_id`,`name`,`course_notes`,`money_type`,`money`,`questions`,`course_cover`,`teacher`,`chapter_num`,course_name
	   from course where name like concat('%', #{value},'%')
	</select>
</mapper>