<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhenjiu.information.dao.ConsultDao">

    <select id="get" resultType="com.zhenjiu.information.domain.ConsultDO">
		select 
		`id`,`type`,`for_names`,`for_ids`,`title`,`url`,`is_disabled`,
		`details`,`browse_num`,`add_time`,date_format(add_time, '%Y-%m-%d %H:%i:%s') as addTime1,
		`update_time`,`delete_flag` 
		from t_consult where id = #{value}
	</select>

    <select id="list" resultType="com.zhenjiu.information.domain.ConsultDO">
        select
        id,type,for_names,for_ids,title,url,is_disabled,
        details,browse_num,add_time,date_format(add_time,'%Y-%m-%d %H:%i:%s') as addTime1,
        update_time,delete_flag,user_id
        from t_consult
        <where>
            <if test="deleteFlag != null and deleteFlag != ''">and delete_flag = #{deleteFlag}</if>
            <if test="type != null and type != ''">and type = #{type}</if>
        </where>
        ORDER BY add_time DESC
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <update id="update" parameterType="com.zhenjiu.information.domain.ConsultDO">
        update t_consult
        <set>
            <if test="type != null">`type` = #{type},</if>
            <if test="forNames != null">`for_names` = #{forNames},</if>
            <if test="forIds != null">`for_ids` = #{forIds},</if>
            <if test="title != null">`title` = #{title},</if>
            <if test="url != null">`url` = #{url},</if>
            <if test="isDisabled != null">`is_disabled` = #{isDisabled},</if>
            <if test="details != null">`details` = #{details},</if>
            <if test="browseNum != null">`browse_num` = #{browseNum},</if>
            <if test="addTime != null">`add_time` = #{addTime},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
            <if test="deleteFlag != null">`delete_flag` = #{deleteFlag}</if>
        </set>
        where id = #{id}
    </update>

    <select id="count" resultType="int">
        select count(*) from t_consult
        <where>
            <if test="type != null">and type = #{type}</if>
            <if test="forNames != null">and for_names = #{forNames}</if>
            <if test="forIds != null">and for_ids = #{forIds}</if>
            <if test="title != null">and title = #{title}</if>
            <if test="url != null">and url = #{url}</if>
            <if test="isDisabled != null">and is_disabled = #{isDisabled}</if>
            <if test="details != null">and details = #{details}</if>
            <if test="browseNum != null">and browse_num = #{browseNum}</if>
            <if test="addTime != null">and add_time = #{addTime}</if>
            <if test="updateTime != null">and update_time = #{updateTime}</if>
            <if test="deleteFlag != null">and delete_flag = #{deleteFlag}</if>
        </where>
    </select>
</mapper>