<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins" style="margin-bottom: 10px;">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<input id="id" name="id" th:value="${teacher.id}" type="hidden">
							<div class="form-group">
								<label class="col-sm-3 control-label">头像：</label>
								<div class="col-sm-4">
									<!-- <input  class="form-control" id="imgFile" style="display: none;" type="file" name="imgFile" onchange="udpateFileUrl(this)"/> -->
									<label for="imgFile"><img width="100" height="100" id="fileImgimgFile" alt="" th:src="${teacher.headUrl}"></label>
								</div>
							</div>
							<!-- 
							<div class="form-group">
								<label class="col-sm-3 control-label">讲师编号：</label>
								<div class="col-sm-4">
									<input id="teacherAcc" name="teacherAcc"
										th:value="${teacher.teacherAcc}" class="form-control"
										type="text" readonly="readonly">
								</div>
							</div>
							 -->
							<div class="form-group">
								<label class="col-sm-3 control-label">讲师姓名：</label>
								<div class="col-sm-4">
									<input id="name" name="name" th:value="${teacher.name}"
										class="form-control" type="text" readonly="readonly">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">手机号：</label>
								<div class="col-sm-4">
									<input id="phone" name="phone" th:value="${teacher.phone}"
										class="form-control" type="text" readonly="readonly">
								</div>
							</div>
							<!-- 
							<div class="form-group">
								<label class="col-sm-3 control-label">密码：</label>
								<div class="col-sm-8">
									<input id="password" name="password"
										th:value="${teacher.password}" class="form-control"
										type="text">
								</div>
							</div>
							 -->
							<div class="form-group">
								<label class="col-sm-3 control-label">性别 ：</label>
								<div class="col-sm-4">
									<input id="sex" name="sex"
										th:value="${teacher.sex}" class="form-control"
										type="text" readonly="readonly">
								</div>
							</div>
							<!-- 
							<div class="form-group">
								<label class="col-sm-3 control-label">讲师主讲科目：</label>
								<div class="col-sm-8">
									<input id="speakCourse" name="speakCourse"
										th:value="${teacher.speakCourse}" class="form-control"
										type="text">
								</div>
							</div>
							 
							<div class="form-group">
								<label class="col-sm-3 control-label">讲师所在学校：</label>
								<div class="col-sm-8">
									<input id="teacherSchool" name="teacherSchool"
										th:value="${teacher.teacherSchool}" class="form-control"
										type="text">
								</div>
							</div>
							 
							<div class="form-group">
								<label class="col-sm-3 control-label">添加时间：</label>
								<div class="col-sm-8">
									<input id="addTime" name="addTime"
										th:value="${teacher.addTime}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">更新时间：</label>
								<div class="col-sm-8">
									<input id="updateTime" name="updateTime"
										th:value="${teacher.updateTime}" class="form-control"
										type="text">
								</div>
							</div>
							
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
							-->
						</form>
					</div>
				</div>
			</div>
		</div>
		<div style="width: 100%; height: 100%; position: absolute; background-color: #ffffff;">
			<div style="position:relative; left:200px;top: 15px">
				<h4>讲师讲授课程</h4>
			</div>
			<div style="width: 1050px; height: 200px;position:relative; left:200px; overflow: scroll;"
				align="center">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>课程编号</th>
							<th>课程分类</th>
							<th>课程名称</th>
						</tr>
					</thead>
					<tbody>
					<label th:each="tc:${teacherC}" class="checkbox-inline">
						<tr>
							<td th:text="${tc.courseId}"></td>
							<td th:text="${tc.courseName}"></td>
							<td th:text="${tc.name}"></td>
						</tr>
					</label>
					</tbody>
				</table>
			</div>
			
			<div style="position:relative; left:200px;top: 15px">
				<h4>讲师问答金额</h4>
			</div>
			<div style="width: 1050px; height: 200px;position:relative; left:200px; overflow: scroll;"
				align="center">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>问答用户</th>
							<th>问答课程</th>
							<th>问答金额</th>
						</tr>
					</thead>
					<tbody>
					<label th:each="qm:${quesMoney}" class="checkbox-inline">
						<tr>
							<td th:text="${qm.uName}"></td>
							<td th:text="${qm.cName}"></td>
							<td th:text="${qm.questionsMoney}"></td>
						</tr>
					</label>
					</tbody>
				</table>
			</div>
		</div>
		
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript">
		$(document).ready(function(){
			var sex = $("input[name='sex']").val();
			if(sex == 1){
				$('#sex').val('女');
			}else if(sex == 2){
				$('#sex').val('男');
			}
		})
		
	</script>
</body>
</html>
