<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhenjiu.data.dao.DataDao">

	<select id="get" resultType="com.zhenjiu.data.domain.DataDO">
		select `id`,`treat_time`,`frequency`,`adddate`,`userid` from treat_data where id = #{value}
	</select>

	<select id="list" resultType="com.zhenjiu.data.domain.DataDO">
		select `id`,`treat_time`,`frequency`,`adddate`,`userid` from treat_data
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="treatTime != null and treatTime != ''"> and treat_time = #{treatTime} </if>
		  		  <if test="frequency != null and frequency != ''"> and frequency = #{frequency} </if>
		  		  <if test="adddate != null and adddate != ''"> and adddate = #{adddate} </if>
		  		  <if test="userid != null and userid != ''"> and userid = #{userid} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from treat_data
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="treatTime != null and treatTime != ''"> and treat_time = #{treatTime} </if>
		  		  <if test="adddate != null and adddate != ''"> and adddate = #{adddate} </if>
		  		  <if test="userid != null and userid != ''"> and userid = #{userid} </if>
		  		</where>
	</select>
	 
	 <select id="getTreeDataByDate" resultType="com.zhenjiu.data.domain.DataDO">
		select `id`,`treat_time`,`adddate`,`userid` from treat_data where userid = #{userid}
		and adddate between #{startDate}  and #{endDate}
	</select>
	
	<select id="getLastData" resultType="com.zhenjiu.data.domain.DataDO">
		SELECT treat_time,adddate,treat_strength,treat_waveform,treat_workmethod, ABS(NOW() - adddate)  AS diffTime
		FROM treat_data
		where userid =#{userid}
		ORDER BY diffTime ASC
		LIMIT 0, 1
	</select>
	
	<insert id="save" parameterType="com.zhenjiu.data.domain.DataDO" useGeneratedKeys="true" keyProperty="id">
		insert into treat_data
		(
			`treat_time`, 
			`adddate`, 
			`userid`, 
			`treat_strength`, 
			`treat_gears`, 
			`treat_frequency`, 
			`treat_current`, 
			`treat_waveform`, 
			`treat_workmethod`, 
			`treat_electrode`, 
			`update_time`, 
			`name`, 
			`count`
		)
		values
		(
			#{treatTime}, 
			#{adddate}, 
			#{userid}, 
			#{treatStrength}, 
			#{treatGears}, 
			#{treatFrequency}, 
			#{treatCurrent}, 
			#{treatWaveform}, 
			#{treatWorkmethod}, 
			#{treatElectrode}, 
			#{updateTime}, 
			#{name}, 
			#{count}
		)
	</insert>
	 
	<update id="update" parameterType="com.zhenjiu.data.domain.DataDO">
		update treat_data 
		<set>
			<if test="treatTime != null">`treat_time` = #{treatTime}, </if>
			<if test="frequency != null">`frequency` = #{frequency}, </if>
			<if test="adddate != null">`adddate` = #{adddate}, </if>
			<if test="userid != null">`userid` = #{userid}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from treat_data where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from treat_data where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>