<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhenjiu.expert.dao.ExpertDao">

	<select id="get" resultType="com.zhenjiu.expert.domain.ExpertDO">
		select `id`,`doctor_name`,`age`,`persen_introduce`,`now_hospital`,`diagnose_department`,`headshot`,`hospital_job`  from t_expert where id = #{value}
	    and deleted=0
	</select>

	<select id="list" resultType="com.zhenjiu.expert.domain.ExpertDO">
		select `id`,`doctor_name`,`age`,`now_hospital`,`diagnose_department`,`headshot`,`hospital_job` from t_expert
        where deleted=0 
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_expert
		where deleted=0 
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="deleted != null and deleted != ''"> and deleted = #{deleted} </if>
		  		  <if test="doctorLevel != null and doctorLevel != ''"> and doctor_level = #{doctorLevel} </if>
		  		  <if test="doctorName != null and doctorName != ''"> and doctor_name = #{doctorName} </if>
		  		  <if test="doctorNum != null and doctorNum != ''"> and doctor_num = #{doctorNum} </if>
		  		  <if test="sex != null and sex != ''"> and sex = #{sex} </if>
		  		  <if test="age != null and age != ''"> and age = #{age} </if>
		  		  <if test="idCard != null and idCard != ''"> and id_card = #{idCard} </if>
		  		  <if test="workTime != null and workTime != ''"> and work_time = #{workTime} </if>
		  		  <if test="phone != null and phone != ''"> and phone = #{phone} </if>
		  		  <if test="email != null and email != ''"> and email = #{email} </if>
		  		  <if test="persenIntroduce != null and persenIntroduce != ''"> and persen_introduce = #{persenIntroduce} </if>
		  		  <if test="nowHospital != null and nowHospital != ''"> and now_hospital = #{nowHospital} </if>
		  		  <if test="diagnoseDepartment != null and diagnoseDepartment != ''"> and diagnose_department = #{diagnoseDepartment} </if>
		  		  <if test="goodAt != null and goodAt != ''"> and good_at = #{goodAt} </if>
		  		  <if test="headshot != null and headshot != ''"> and headshot = #{headshot} </if>
		  		  <if test="honor != null and honor != ''"> and honor = #{honor} </if>
		  		  <if test="hospitalArea != null and hospitalArea != ''"> and hospital_area = #{hospitalArea} </if>
		  		  <if test="hospitalGrade != null and hospitalGrade != ''"> and hospital_grade = #{hospitalGrade} </if>
		  		  <if test="hospitalJob != null and hospitalJob != ''"> and hospital_job = #{hospitalJob} </if>
		  		  <if test="isLogin != null and isLogin != ''"> and is_login = #{isLogin} </if>
		  		  <if test="loginCount != null and loginCount != ''"> and login_count = #{loginCount} </if>
		  		  <if test="loginTime != null and loginTime != ''"> and login_time = #{loginTime} </if>
		  		  <if test="workStarttime != null and workStarttime != ''"> and work_starttime = #{workStarttime} </if>
		  		  <if test="workEndtime != null and workEndtime != ''"> and work_endtime = #{workEndtime} </if>
		  		  <if test="nowArea != null and nowArea != ''"> and now_area = #{nowArea} </if>
		  		  <if test="addTime != null and addTime != ''"> and add_time = #{addTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		
	</select>
	 
	<insert id="save" parameterType="com.zhenjiu.expert.domain.ExpertDO" useGeneratedKeys="true" keyProperty="id">
		insert into t_expert
		(
			`deleted`, 
			`doctor_level`, 
			`doctor_name`, 
			`doctor_num`, 
			`sex`, 
			`age`, 
			`id_card`, 
			`work_time`, 
			`phone`, 
			`email`, 
			`persen_introduce`, 
			`now_hospital`, 
			`diagnose_department`, 
			`good_at`, 
			`headshot`, 
			`honor`, 
			`hospital_area`, 
			`hospital_grade`, 
			`hospital_job`, 
			`is_login`, 
			`login_count`, 
			`login_time`, 
			`work_starttime`, 
			`work_endtime`, 
			`now_area`, 
			`add_time`, 
			`update_time`, 
			`remark`
		)
		values
		(
			#{deleted}, 
			#{doctorLevel}, 
			#{doctorName}, 
			#{doctorNum}, 
			#{sex}, 
			#{age}, 
			#{idCard}, 
			#{workTime}, 
			#{phone}, 
			#{email}, 
			#{persenIntroduce}, 
			#{nowHospital}, 
			#{diagnoseDepartment}, 
			#{goodAt}, 
			#{headshot}, 
			#{honor}, 
			#{hospitalArea}, 
			#{hospitalGrade}, 
			#{hospitalJob}, 
			#{isLogin}, 
			#{loginCount}, 
			#{loginTime}, 
			#{workStarttime}, 
			#{workEndtime}, 
			#{nowArea}, 
			#{addTime}, 
			#{updateTime}, 
			#{remark}
		)
	</insert>
	 
	<update id="update" parameterType="com.zhenjiu.expert.domain.ExpertDO">
		update t_expert 
		<set>
			<if test="deleted != null">`deleted` = #{deleted}, </if>
			<if test="doctorLevel != null">`doctor_level` = #{doctorLevel}, </if>
			<if test="doctorName != null">`doctor_name` = #{doctorName}, </if>
			<if test="doctorNum != null">`doctor_num` = #{doctorNum}, </if>
			<if test="sex != null">`sex` = #{sex}, </if>
			<if test="age != null">`age` = #{age}, </if>
			<if test="idCard != null">`id_card` = #{idCard}, </if>
			<if test="workTime != null">`work_time` = #{workTime}, </if>
			<if test="phone != null">`phone` = #{phone}, </if>
			<if test="email != null">`email` = #{email}, </if>
			<if test="persenIntroduce != null">`persen_introduce` = #{persenIntroduce}, </if>
			<if test="nowHospital != null">`now_hospital` = #{nowHospital}, </if>
			<if test="diagnoseDepartment != null">`diagnose_department` = #{diagnoseDepartment}, </if>
			<if test="goodAt != null">`good_at` = #{goodAt}, </if>
			<if test="headshot != null">`headshot` = #{headshot}, </if>
			<if test="honor != null">`honor` = #{honor}, </if>
			<if test="hospitalArea != null">`hospital_area` = #{hospitalArea}, </if>
			<if test="hospitalGrade != null">`hospital_grade` = #{hospitalGrade}, </if>
			<if test="hospitalJob != null">`hospital_job` = #{hospitalJob}, </if>
			<if test="isLogin != null">`is_login` = #{isLogin}, </if>
			<if test="loginCount != null">`login_count` = #{loginCount}, </if>
			<if test="loginTime != null">`login_time` = #{loginTime}, </if>
			<if test="workStarttime != null">`work_starttime` = #{workStarttime}, </if>
			<if test="workEndtime != null">`work_endtime` = #{workEndtime}, </if>
			<if test="nowArea != null">`now_area` = #{nowArea}, </if>
			<if test="addTime != null">`add_time` = #{addTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="remark != null">`remark` = #{remark}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_expert where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_expert where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>