<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="information:courseChapter:add" type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加章节
							</button>
							<button shiro:hasPermission="information:courseChapter:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
						</div>
						<!-- 
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="searchName" type="text" class="form-control"
								placeholder="">
						</div>
						 --> 
						 <input id="id" name="id" th:value="${course.id}" type="hidden">
					</div>
					 <!--
					<table id="exampleTable" data-mobile-responsive="true">
					</table> 
					 --> 
					<div style="width: 1050px; height: 200px; "
						align="center">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>章节序号</th>
									<th>章节名称</th>
									<!-- <th>章节说明</th> -->
									<th>章节</th>
									<th>章节状态</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<label th:each="cp:${queryCId}" class="checkbox-inline">
									<tr>
										<td th:text="${cp.chapterNum}"></td>
										<td th:text="${cp.chapterName}"></td>
										<!--  <td th:text="${cp.chapterNotes}"></td>-->
										<td th:text="${cp.url}"></td>
										<td th:text="${cp.chapterStatus}" class="sta"></td>
										<td style="width: 170px; ">
											<button type="button" class="btn btn-primary btn-xs"  th:onclick="'javascript:edit(\''+${cp.id}+'\')'">
												<i class="fa fa-edit" aria-hidden="true"></i>编辑
											</button>
											<button type="button" class="btn btn-danger btn-xs" th:onclick="'javascript:remove(\''+${cp.id}+'\')'">
												<i class="fa fa-trash" aria-hidden="true"></i>删除
											</button>
											<button type="button" class="btn btn-warning btn-xs" th:onclick="'javascript:cha(\''+${cp.id}+'\')'">
												<i class="fa fa-key" aria-hidden="true"></i>查看
											</button>
											
										</td>
									</tr>
								</label>	
							</tbody>
						</table>
					</div> 
					
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="information:courseChapter:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="information:courseChapter:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="information:courseChapter:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	 <!--  <script type="text/javascript" src="/js/appjs/course/course/chapter.js"></script>-->
	 
	 <script type="text/javascript">

		 function add() {
			    var id = document.getElementById("id").value;
				var addPage = layer.open({
					type : 2,
					title : '增加',
					maxmin : true,
					shadeClose : false, // 点击遮罩关闭层
					area : [ '1000px', '1000px' ],
					content : '/information/courseChapter/add/'+id // iframe的url
				});
				layer.full(addPage);
			}
		 
		 $(document).ready( function () {
			    $(".sta").each(function(i,item){
			        var text = $(this).text();
			        if(text == "0"){
			            $(this).text("解锁")
			        }else if(text == "1"){
			            $(this).text("限制");
			        }
			    })
			})
		
		 function edit(id){
			 var editPage = layer.open({
					type : 2,
					title : '编辑',
					maxmin : true,
					shadeClose : false, // 点击遮罩关闭层
					area : [ '800px', '600px' ],
					content : '/information/courseChapter/edit/' + id // iframe的url
				});
				layer.full(editPage);
		 }
	 
	 
		 function remove(id){
		    	layer.confirm('确定要删除选中的记录？', {
		    		btn : [ '确定', '取消' ]
		    	}, function() {
		    		$.ajax({
		    			url : "/information/courseChapter/remove",
		    			type : "post",
		    			data : {
		    				'id' : id
		    			},
		    			success : function(r) {
		    				if (r.code==0) {
		    					layer.msg(r.msg);
		    					reLoad();
		    				}else{
		    					layer.msg(r.msg);
		    				}
		    			}
		    		});
		    	})
		    }
		 
		 function cha(id){
			 layer.open({
					type : 2,
					title : '编辑',
					maxmin : true,
					shadeClose : false, // 点击遮罩关闭层
					area : [ '700px', '500px' ],
					content : '/information/courseChapter/cha/' + id // iframe的url
				});
		 }
		 
		 function reLoad() {
		   location.reload();
		 }
	  </script>
	 
</body>
</html>